/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fbf8f1;
}

.hero {
  height: 100px;
  width: 100%;
}

.hero img {
  max-height: 80px;
  padding-top: 20px;
}

.logo {
  height: 80px;
  float: left;
  width: 60px;
  margin-left: 10px;
}

h1 {
  color: #486786;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 100px;
  float: left;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;
}

p {
  font-size: .8em;
}

.wrap {
  width: 100%;
}

.top {
  padding-top: 10px;
  width: 100%;
}

.unit {
  height: 300px;
  float: left;
}

.unit-alt {
  height: 300px;
  float: right;
}

.alpha {
  padding: 10px 20px;
}

.middle {
  padding: 10px 20px;
}

.omega {
  padding: 10px 20px;
}

.item {
  height: 100%;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.item:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

.content {
  position: absolute;
  bottom: 20px;
}

.sixty-six {
  width: 100%;
}

.thirty-three {
  width: 100%;
}

.fifty {
  width: 100%;
}

.v-one {
  background: #3A6073;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.v-one:hover {
  background: #91a4b6;
}

.v-two {
  background: #6d859e;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.v-two:hover {
  background: #91a4b6;
}

.v-three {
  background: #364d65;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.v-three:hover {
  background: #486786;
}

.v-four {
  background: #91a4b6;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.v-four:hover {
  background: #b6c2cf;
}

.v-five {
  background: #243443;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.v-five:hover {
  background: #364d65;
}

.last {
  margin-bottom: 40px;
}

@media screen and (min-width:700px) {
  
  .sixty-six { width: 66.666666%; }
  
  .thirty-three { width: 33.333333%; }

  .fifty { width: 50%; }
  
  .alpha { padding: 10px 10px 10px 20px; }

  .omega { padding: 10px 20px 10px 10px; }

  .middle { padding: 10px; }
  
}